@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
    --light-blue: #f3f5fc;
    --dark-blue: #0a3871;
    --gray-400: #495057;
    --gray-500: #343a40;
    --gray-600: #30351f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
}

html {
    display: flex;
    @media (width > 992px) {
        height: 100%;
    }
}

body {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 24px;
    gap: 40px;
    width: 100%;
    background: linear-gradient(
            to bottom,
            rgba(245, 245, 245, 1) 0%,
            rgba(245, 245, 245, 1) 0%,
            rgba(245, 245, 245, 1) 28%,
            rgba(210, 255, 82, 1) 73%,
            rgba(145, 232, 66, 1) 100%
        )
        fixed;
    @media (width > 992px) {
        flex: 1;
        padding: 20px 40px;
        gap: 30px;
    }
}

.img-fluid {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.logo-container {
    max-width: 120px;
    flex: 1 0 auto;

    @media (width > 992px) {
        text-align: center;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
    }
}

.main-content {
    flex: 1 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 139px;
    padding-bottom: 32px;

    @media (width < 992px) {
        padding-top: 0;
        padding-bottom: 0;
        flex: 1 0 100%;
        max-width: 100%;
    }

    textarea {
        width: 100%;
        border: none;
        background-color: transparent;
        color: var(--dark-blue);
        font-size: 2rem;
        margin-bottom: 20px;
        flex: 1;
        resize: none;

        @media (width < 992px) {
            min-height: 300px;
        }

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: var(--dark-blue);
        }
    }

    .warning {
        display: flex;
        font-size: 0.8rem;
        color: var(--gray-400);

        img {
            margin-right: 8px;
        }
    }
}

.result-container {
    display: flex;
    justify-content: center;
    padding: 32px;

    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.56);

    border-radius: 32px;
    flex: 1 0 400px;
    max-width: 400px;

    @media (width < 992px) {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .no-results-img {
        margin-bottom: 32px;

        @media (width < 992px) {
            display: none;
        }
    }

    .result {
        font-size: 1.5rem;
        color: var(--gray-400);
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        word-break: break-word;
        width: 100%;

        p {
            margin-bottom: 1rem;
            flex: 1;
        }
    }

    .no-results {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

footer {
    flex: 1 0 100%;
}

.h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--gray-500);
    margin-bottom: 1rem;
}

.buttons-container {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;

    @media (width < 376px) {
        flex-direction: column;
        align-items: center;
    }
}

.btn {
    text-align: center;
    padding: 10px;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid var(--dark-blue);
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    display: inline-block;
    text-decoration: none;

    &.btn-template-1 {
        background-color: var(--gray-600);
        color: white;
    }

    &.btn-template-2 {
        color: var(--dark-blue);
        background-color: #f0fee0;
    }

    &.btn-template-3 {
        color: white;
        background-color: var(--gray-600);
    }
}

.d-none {
    display: none !important;
}
